body {
    background-color: rgb(92, 58, 197);
    overflow-x: hidden;
}
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* min-height: 100%; */
    color: white;
}
button {
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
button:hover {
    background-color: blueviolet;
    color: aliceblue;
}
label {
    font-size: 1.5em;
}
input {
    font-size: 1em;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    min-width: 6rem;
    padding: 0.5rem;
}
/* .Peoplelist {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}
.Peoplelist button {
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.Peoplelist button:hover {
    background-color: blueviolet;
    color: aliceblue;
} */